{% extends "opencoopmanager/base.html" %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>{{ vote.title }}</h2>

{{ vote.description }}

<form action="{% url 'opencoopmanager:sendballot' vote.id %}" method="post">
{% csrf_token %}
{% for choice in vote.votechoice_set.all %}
    <input type="number" name="{{ choice.index }}" id="{{ choice.index }}"
    min="1" max="{{ vote.votechoice_set.count }}">
    <label for="{{ choice.index }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Submit">
</form>

{% endblock content %}
